@{
    ViewData["Title"] = "Home";
}



<!-- Background Image -->
<div class="background-img">
    <img src="~/assets/img/home-bg.jpg" alt="" />
    <div class="overlay"></div>
    <div class="background-content">
        <h1>Welcome to GBC Bids</h1>
        <p>...your home for awesome bids!!!</p>
        <a href="/buyer" class="btn">Bid</a>
        <a href="/seller" class="btn">Sell</a>
    </div>
</div>
<!-- /Background Image -->

<!-- Top Deals -->
@*<section class="top-deals">
    <div class="container">
        <div class="section-header">
            <h2>Top Deals</h2>
        </div>

        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="prod-box">
                        <div class="prod-i">
                            <img src="~/Uploads/@item.itemImage" alt="#" />
                        </div>
                        <div class="item-timer">
                            <div class="timer-days">
                                <p>128</p>
                                <span>Days</span>
                            </div>

                            <div class="timer-hours">
                                <p>128</p>
                                <span>Hours</span>
                            </div>

                            <div class="timer-minutes">
                                <p>128</p>
                                <span>Minutes</span>
                            </div>

                            <div class="timer-seconds">
                                <p>128</p>
                                <span>Seconds</span>
                            </div>

                        </div>

                        <div class="item-name text-center">
                            <a href="item/@item.itemName">@item.itemName</a>
                        </div>

                        <hr />

                        <div class="item-price">
                            <p>Current bid: &dollar;@item.itemCost</p>
                        </div>


                    </div>
                </div>
            }

        </div>


    </div>
</section>*@
<!-- /Top Deals -->


 <!-- Our Core Values -->
    <section class="core-values">
        <div class="container">
            <div class="section-header text-center">
                <h2>Why Choose Us?</h2>
                <p>GBC bids is a site meant for you, a place that makes trading effortless and smooth.
                    Here at GBC bids, we make sure you stay informed, and up to date. Don't miss a step, and make the right trading options.
                    We are built on excelence and are here to satisfy both buyers and sellers through a sufisticated platform for trade.
                </p>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <i class="fa-solid fa-life-ring"></i>
                    <h5>We are reliable</h5>
                    <p>
                        Here at GBC bids, ensuring that both parties are satisfied after every negotiation is our highest priority.
                        We make sure you stay informed and provide you with the best deals.
                    </p>
                </div>

                <div class="col-md-4">
                    <i class="fa-solid fa-life-ring"></i>
                    <h5>Free and fair negotiation</h5>
                    <p>
                        Here at GBC bids we make sure every bid matters! GBC bids is built to make sure that we always 
                        provide you timely update on every bid, allowing you participate in life changing deals.
                    </p>
                </div>

                <div class="col-md-4">
                    <i class="fa-solid fa-life-ring"></i>
                    <h6>Fast and Easy to use</h6>
                    <p>
                        Our Auction site is user friendly, and easy to use. We make sure that you are settled in and ready to make big moves in the market.
                        GBC bids; "we are here for you".
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- /Our Core Values -->

<!-- Popular Categories -->
<section class="popular-categories">
    <div class="container">
        <div class="section-header text-center">
            <h2>Popular Categories</h2>
            <p>
               We got what you need here at GBC bids, take some time to surf our categories. I assure you will find 
                    what you are looking for.
            </p>
        </div>

        <div class="row align-items-stretch">
            <div class="col-6 col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
                <a href="/category/artifacts" class="popular-category h-100">
                    <span class="icon mb-3"><span class="fa-solid fa-palette"></span></span>
                    <span class="caption mb-2 d-block">Artifacts</span>
                    <span class="number">Check Out</span>
                </a>
            </div>

            <div class="col-6 col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
                <a href="/category/artillery" class="popular-category h-100">
                    <span class="icon mb-3"><span class="fa-solid fa-person-rifle"></span></span>
                    <span class="caption mb-2 d-block">Artillery</span>
                    <span class="number">Check Out</span>
                </a>
            </div>


            <div class="col-6 col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
                <a href="/category/books" class="popular-category h-100">
                    <span class="icon mb-3"><span class="fa-solid fa-book"></span></span>
                    <span class="caption mb-2 d-block">Books</span>
                    <span class="number">Check Out</span>
                </a>
            </div>

            <div class="col-6 col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
                <a href="/category/cars" class="popular-category h-100">
                    <span class="icon mb-3"><span class="fa-solid fa-car"></span></span>
                    <span class="caption mb-2 d-block">Cars</span>
                    <span class="number">Check Out</span>
                </a>
            </div>

            <div class="col-6 col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
                <a href="/category/furnitures" class="popular-category h-100">
                    <span class="icon mb-3"><span class="fa-solid fa-couch"></span></span>
                    <span class="caption mb-2 d-block">Furnitures</span>
                    <span class="number">Check Out</span>
                </a>
            </div>

            <div class="col-6 col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
                <a href="/category/jewelries" class="popular-category h-100">
                    <span class="icon mb-3"><span class="fa-solid fa-gem"></span></span>
                    <span class="caption mb-2 d-block">Jewelries</span>
                    <span class="number">Check Out</span>
                </a>
            </div>

        </div>
        <div class="text-center">
            <button class="pop-cat btn">View All Categories</button>
        </div>
    </div>
</section>
<!-- /Popular Categories -->

<!-- Sellers CTA -->
<section class="pt-4 pt-md-6">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-5 col-lg-7 text-lg-center"><img class="img-fluid mb-5 mb-md-0" src="~/assets/img/seller-cta.jpg" alt="" /></div>
            <div class="col-md-7 col-lg-5 text-md-start">
                <h2>Be a Seller</h2>
                <p>
                    Hey there, I know you have something you would like to sell.
                    We are here to make sure that you are able to sell that merch for you.
                    We assure you that you would be informed on any step a seller takes toward every merch you put out there.
                </p>

                <p>
                    All you have to do are 2 easy steps. sign up, add your Item and neccessary information for each Items,
                    And we will do the rest for you. To sign up as seller, click the sell button below, and let us work our magic!
                </p>
                <a href="/seller" class="btn">SELL</a>
            </div>
        </div>
    </div>
</section>
<!-- /Sellers CTA -->


<!-- Best Sellers -->
@*<section class="best-sellers">
    <div class="container">
        <div class="section-header">
            <h2>Best Sellers</h2>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="prod-box">
                    <div class="prod-i">
                        <img src="assets/img/tr2.png" alt="#" />
                    </div>
                    <div class="item-timer">
                        <div class="timer-days">
                            <p>128</p>
                            <span>Days</span>
                        </div>

                        <div class="timer-hours">
                            <p>128</p>
                            <span>Hours</span>
                        </div>

                        <div class="timer-minutes">
                            <p>128</p>
                            <span>Minutes</span>
                        </div>

                        <div class="timer-seconds">
                            <p>128</p>
                            <span>Seconds</span>
                        </div>

                    </div>

                    <div class="item-name text-center">
                        <a href="">Table With Lamp product</a>
                    </div>

                    <hr />

                    <div class="item-price">
                        <p>Current bid: &dollar;90,000.00</p>
                    </div>


                </div>
            </div>

            <div class="col-md-3">
                <div class="prod-box">
                    <div class="prod-i">
                        <img src="assets/img/tr2.png" alt="#" />
                    </div>
                    <div class="item-timer">
                        <div class="timer-days">
                            <p>128</p>
                            <span>Days</span>
                        </div>

                        <div class="timer-hours">
                            <p>128</p>
                            <span>Hours</span>
                        </div>

                        <div class="timer-minutes">
                            <p>128</p>
                            <span>Minutes</span>
                        </div>

                        <div class="timer-seconds">
                            <p>128</p>
                            <span>Seconds</span>
                        </div>

                    </div>

                    <div class="item-name text-center">
                        <a href="">Table With Lamp product</a>
                    </div>

                    <hr />

                    <div class="item-price">
                        <p>Current bid: &dollar;90,000.00</p>
                    </div>


                </div>
            </div>

            <div class="col-md-3">
                <div class="prod-box">
                    <div class="prod-i">
                        <img src="assets/img/tr2.png" alt="#" />
                    </div>
                    <div class="item-timer">
                        <div class="timer-days">
                            <p>128</p>
                            <span>Days</span>
                        </div>

                        <div class="timer-hours">
                            <p>128</p>
                            <span>Hours</span>
                        </div>

                        <div class="timer-minutes">
                            <p>128</p>
                            <span>Minutes</span>
                        </div>

                        <div class="timer-seconds">
                            <p>128</p>
                            <span>Seconds</span>
                        </div>

                    </div>

                    <div class="item-name text-center">
                        <a href="">Table With Lamp product</a>
                    </div>

                    <hr />

                    <div class="item-price">
                        <p>Current bid: &dollar;90,000.00</p>
                    </div>


                </div>
            </div>

            <div class="col-md-3">
                <div class="prod-box">
                    <div class="prod-i">
                        <img src="assets/img/tr2.png" alt="#" />
                    </div>
                    <div class="item-timer">
                        <div class="timer-days">
                            <p>128</p>
                            <span>Days</span>
                        </div>

                        <div class="timer-hours">
                            <p>128</p>
                            <span>Hours</span>
                        </div>

                        <div class="timer-minutes">
                            <p>128</p>
                            <span>Minutes</span>
                        </div>

                        <div class="timer-seconds">
                            <p>128</p>
                            <span>Seconds</span>
                        </div>

                    </div>

                    <div class="item-name text-center">
                        <a href="">Table With Lamp product</a>
                    </div>

                    <hr />

                    <div class="item-price">
                        <p>Current bid: &dollar;90,000.00</p>
                    </div>


                </div>
            </div>

        </div>


    </div>
</section>
<!-- /Best Sellers -->*@
<!-- Biding Process -->
<section class="process">
    <div class="bidding-process">
        <div class="container">
            <div class="section-header">
                <h2>Our Bidding Process</h2>
                <p class="text-center">Three easy ways to bid successfully</p>
            </div>

            <div class="row">
                <div class="col">
                    <img src="assets/img/4707071.jpg" alt="" />
                    <h4>Sign Up</h4>
                    <p>No credit card required!</p>
                </div>

                <div class="col">
                    <div class="bidding-arrow">
                        <i class="fa-solid fa-arrow-right"></i>
                    </div>
                </div>

                <div class="col">
                    <img src="assets/img/19198813.jpg" alt="" />
                    <h4>Place A Bid</h4>
                    <p>Going! Going!! Gone!!!</p>
                </div>

                <div class="col">
                    <div class="bidding-arrow">
                        <i class="fa-solid fa-arrow-right"></i>
                    </div>
                </div>

                <div class="col">
                    <img src="assets/img/5098526.jpg" alt="" />
                    <h4>Win Bid</h4>
                    <p>Fun! Excitement! Great Deals!</p>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- /Biding Process -->
