@{
    ViewData["Title"] = "Search";
}

@model List<assignment01_gbcbids.Data.Item>

@using assignment01_gbcbids.Data;

<!-- Background Image -->
<div class="background-img">
    <img src="~/assets/img/catalogue-bg.jpg" alt="" />
    <div class="overlay"></div>

    <div class="background-content">
        <h1>Start Bidding!</h1>
        <p>...your home for awesome bids!!!</p>
    </div>
</div>
<!-- /Background Image -->
<!-- Breadcrumb -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Catalogue</li>
    </ol>
</nav>
<!-- Breadcrumb -->
<!-- Catalogue Section -->
<section class="account-section">
    <div class="container">

        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="sidebar-cat">
                            <h5>Categories</h5>
                            <ul class="cat-links">
                                <li><a href="/category/artifacts"><i class="fa-solid fa-palette"></i> Artifacts</a></li>
                                <li><a href="/category/artillery"><i class="fa-solid fa-person-rifle"></i> Artillery</a></li>
                                <li><a href="/category/books"><i class="fa-solid fa-book"></i> Books</a></li>
                                <li><a href="/category/cars"><i class="fa-solid fa-car"></i> Cars</a></li>
                                <li><a href="/category/furnitures"><i class="fa-solid fa-couch"></i> Furnitures</a></li>
                                <li><a href="/category/jewelries"><i class="fa-solid fa-gem"></i> Jewelries</a></li>
                            </ul>
                        </div>
                        <hr />

                        <div class="sidebar-condition">
                            <h5>Conditions</h5>
                            <ul class="cat-links">
                                <li><a href="/condition/new"><i class="fa-solid fa-box"></i> New</a></li>
                                <li><a href="/condition/refurbished"><i class="fa-solid fa-screwdriver-wrench"></i> Refurbished</a></li>
                                <li><a href="/condition/open-box"><i class="fa-solid fa-box-open"></i> Open Box</a></li>
                                <li><a href="/condition/fairly-used"><i class="fa-solid fa-recycle"></i> Fairly Used</a></li>
                            </ul>
                        </div>

                        <hr />

                        @*<div class="sidebar-seller">
                        <h5>Top Sellers</h5>
                        <ul class="cat-links">
                        <li>
                        <a href="#">
                        <div class="row">
                        <div class="col-md-4">
                        <img src="assets/img/7309670.jpg" alt="" />
                        </div>

                        <div class="col-md-6">
                        <span class="rank d-block">#1</span>
                        <span class="name d-block">Sergio Ramos</span>
                        </div>
                        </div>
                        </a>
                        </li>
                        <li>
                        <a href="#">
                        <div class="row">
                        <div class="col-md-4">
                        <img src="assets/img/7309670.jpg" alt="" />
                        </div>

                        <div class="col-md-6">
                        <span class="rank d-block">#1</span>
                        <span class="name d-block">Sergio Ramos</span>
                        </div>
                        </div>
                        </a>
                        </li>
                        <li>
                        <a href="#">
                        <div class="row">
                        <div class="col-md-4">
                        <img src="assets/img/7309670.jpg" alt="" />
                        </div>

                        <div class="col-md-6">
                        <span class="rank d-block">#1</span>
                        <span class="name d-block">Sergio Ramos</span>
                        </div>
                        </div>
                        </a>
                        </li>
                        <li>
                        <a href="#">
                        <div class="row">
                        <div class="col-md-4">
                        <img src="assets/img/7309670.jpg" alt="" />
                        </div>

                        <div class="col-md-6">
                        <span class="rank d-block">#1</span>
                        <span class="name d-block">Sergio Ramos</span>
                        </div>
                        </div>
                        </a>
                        </li>
                        </ul>
                        </div>*@

                    </div>
                </div>
            </div>

            <div class="col-md-9">
                <div class="alert welcome-alert cat-alert" role="alert">
                    <div class="left-cat d-inline-block">
                        <p>Showing @ViewBag.Count results</p>
                    </div>
                    <div class="right-cat d-inline-block">
                        <div class="dropdown button-dropdown">
                            <button class="btn dropdown-toggle" id="catDropdownMenuLink1" data-toggle="dropdown">
                                Default Sorting
                            </button>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                                <a class="dropdown-header">Sort Items</a>
                                <a class="dropdown-item" asp-action="Sort" asp-route-sort="new">Sort By Newest</a>
                                <a class="dropdown-item" href="/catalogue/sort/high">Sort By Price: Low to high</a>
                                <a class="dropdown-item" href="/catalogue/sort/low">Sort By Price: High to low</a>
                                <a class="dropdown-item" href="create-account.html">Sort By Current Bid: Low to high</a>
                                <a class="dropdown-item" href="create-account.html">Sort By Current Bid: High to low</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <div class="row p-4">
                            @foreach (var item in Model)
                            {
                                <div class="col-md-4 mb-5">
                                    <div class="prod-box">
                                        <div class="prod-i">
                                            <img src="~/Uploads/@item.itemImage" alt="#" />
                                        </div>
                                        <div class="item-timer">
                                            <div class="timer-days">
                                                <p>128</p>
                                                <span>Days</span>
                                            </div>

                                            <div class="timer-hours">
                                                <p>128</p>
                                                <span>Hours</span>
                                            </div>

                                            <div class="timer-minutes">
                                                <p>128</p>
                                                <span>Minutes</span>
                                            </div>

                                            <div class="timer-seconds">
                                                <p>128</p>
                                                <span>Seconds</span>
                                            </div>

                                        </div>

                                        <div class="item-name text-center">
                                            <a href="/catalogue/item/@item.itemId">@item.itemName</a>
                                        </div>

                                        <hr />

                                        <div class="item-price">
                                            <p>Current bid: &dollar;@item.itemCost</p>
                                        </div>


                                    </div>
                                </div>
                            }


                        </div>

                        <hr />

                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
<!-- /Catalogue Section -->