@{
    ViewData["Title"] = "Contact";
}

<!-- Background Image -->
<div class="background-img">
    <img src="assets/img/register-bg.jpg" alt="" />
    <div class="overlay"></div>
    <div class="background-content">
        <h1>Contact Us</h1>
        <p>...your home for awesome bids!!!</p>
    </div>
</div>
<!-- /Background Image -->
<!-- Breadcrumb -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Contact</li>
    </ol>
</nav>
<!-- Breadcrumb -->

<!-- Form -->
<section class="form-section">
    <div class="container">
        <div class="card">
            <h5 class="card-header">SEND US A MESSAGE!</h5>
            <div class="card-body">
                <form action="" class="form">
                    <p>Please fill in the form below to send us a message!</p>
                    <label for="name">Enter name&ast;</label>
                    <input type="text" class="form-control">

                    <label for="email">Enter email&ast;</label>
                    <input type="text" class="form-control">

                    <label for="username">Enter Subject&ast;</label>
                    <input type="text" class="form-control" />

                    <label for="phone">Enter Message&ast;</label>
                    <textarea class="form-control" cols="30" rows="10"></textarea>

                    <input type="submit" class="btn" value="SEND MESSAGE" />

                </form>

            </div>
        </div>
    </div>
</section>
<!-- Form -->