<section>
    <div class="container">
        <div>
            <h2 class="report-text">Report an issue</h2>
            <br>
            <h4>Please select a problem you would like to roport from the list below</h4>
        </div>

        <div>
            <button class="accordion">*Buyer?</button>
            <div class="panel">
                <input type="checkbox" id="buy-access" class="checkboxes">
                <label for="buy-access">Cannot access account?</label>
                <br>

                <input type="checkbox" id="fake-id" class="checkboxes">
                <label for="fake-id">Impersonation or fake Identity</label>
                <br>

                <input type="checkbox" id="fraud" class="checkboxes">
                <label for="fraud">Fraudulent Activities</label>
                <br>

                <input type="checkbox" id="glitch" class="checkboxes">
                <label for="glitch">System glitch while biding</label>
                <br>

                <input type="checkbox" id="can't-bid" class="checkboxes">
                <label for="can't-bid">Cannot place a bid</label>
                <br>

                <input type="checkbox" id="newsletter" class="checkboxes">
                <label for="newsletter">Want to Unsubscribe from newsletter</label>
                <br>

                <input type="checkbox" id="deadline" class="checkboxes">
                <label for="deadline">Item exceeded deadline</label>
                <br>

                <a href="others.html" class="others">Others</a>

                <input type="button" value="submit" name="submit" class="report-button">


            </div>

        </div>

        <button class="accordion">*Seller?</button>
        <div class="panel">
            <input type="checkbox" id="sell-access" class="checkboxes">
            <label for="sell-access">Cannot access my account</label>
            <br>

            <input type="checkbox" id="cancel-bid" class="checkboxes">
            <label for="cancel-bid">Buyer Keeps canceling previous bids</label>
            <br>

            <input type="checkbox" id="claim-payment" class="checkboxes">
            <label for="claim-payment">Cannot claim payment</label>
            <br>

            <input type="checkbox" id="fail-add-item" class="checkboxes">
            <label for="fail-add-item">Fail to Add Item to inventory</label>
            <br>

            <input type="checkbox" id="find-item" class="checkboxes">
            <label for="find-item">Can not find Item in inventory</label>
            <br>

            <a href="others.html" class="others">Others</a>

            <input type="button" value="submit" name="submit" class="report-button">

        </div>


        <button class="accordion">*Guest?</button>
        <div class="panel">
            <input type="checkbox" id="Can't-view-item" class="checkboxes">
            <label for="Can't-view-item">Can not view Item without biding</label>
            <br>

            <input type="checkbox" id="can't-nav" class="checkboxes">
            <label for="can't-nav">Connot properly navigate or surf</label>
            <br>

            <input type="checkbox" id="can't-search" class="checkboxes">
            <label for="can't-search">Cannnot search product</label>
            <br>

            <input type="checkbox" id="reg-difficulty" class="checkboxes">
            <label for="reg-difficulty">Difficulty Registering</label>
            <br>

            <input type="checkbox" id="unsub-news" class="checkboxes">
            <label for="unsub-news">Cannot Unsubscribe from newsletter</label>
            <br>

            <a href="/issues/others" class="others">Others</a>

            <input type="button" value="submit" name="submit" class="report-button">

        </div>


    </div>

</section>
