  <!-- Others -->
        <section class="form-section">
            <div class="container">
                <div class="card">
                    <h5 class="card-header">Write your report</h5>
                    <div class="card-body">
                      <form action="" class="form">
                        <p>Please fill the form below and enter an issue you would like to report</p>
                        <label for="name">Enter name&ast;</label>
                        <input type="text" class="form-control">

                        <label for="email">Enter email&ast;</label>
                        <input type="text" class="form-control">
                        <br>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="other-dropdownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Select user type
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#">*Buyer</a>
                              <a class="dropdown-item" href="#">*Seller</a>
                              <a class="dropdown-item" href="#">*Guest</a>
                            </div>
                          </div>

                        <label for="username">Enter Subject&ast;</label>
                        <input type="text" class="form-control" />

                        <label for="phone">Write your report&ast;</label>
                        <textarea class="form-control" cols="30" rows="10"></textarea>

                        <input type="submit" class="btn" value="SEND MESSAGE" />

                      </form>

                    </div>
                  </div>
            </div>
          </section>
