@{
    ViewData["Title"] = "Seller";
}

@model assignment01_gbcbids.Data.Item

@using Microsoft.AspNetCore.Identity
@using assignment01_gbcbids.Data;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!-- Background Image -->
<div class="background-img">
    <img src="~/assets/img/welcome.jpg" alt="" />
    <div class="overlay"></div>
    <div class="background-content">
        <h1>Welcome @User.Identity?.Name</h1>
        <p>...your home for awesome bids!!!</p>
    </div>
</div>
<!-- /Background Image -->
<!-- Breadcrumb -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Seller</li>
    </ol>
</nav>
<!-- Breadcrumb -->
<!-- Account Section -->
<section class="account-section">
    <div class="container">
        <div class="alert welcome-alert" role="alert">
            Welcome to your page, @User.Identity?.Name!
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="avatar-box text-center">
                            <a href="" class="avatar">
                                <img src="~/assets/img/7309670.jpg" alt="" />
                            </a>
                            <p>@User.Identity?.Name <br /><span>email@email.com</span></p>
                        </div>
                        <hr />
                        <ul class="account-links">
                            <li><a href="/"><i class="fa-solid fa-dashboard"></i>&nbsp;Dashboard</a></li>
                            <li><a href="/seller/add-item"><i class="fa-solid fa-cart-plus"></i>&nbsp;Add Item</a></li>
                            @*<li><a href="edit-item"><i class="fa-solid fa-pen-to-square"></i>&nbsp;Edit Item</a></li>*@
                            <li><a href="/seller/view-items"><i class="fa-solid fa-cart-arrow-down"></i>&nbsp;View Items</a></li>
                            @*                            <li><a href="seller/edit-profile"><i class="fa-solid fa-address-card"></i>&nbsp;Edit Profile</a></li>
                            *@
                            <li><a href="/account/logout"><i class="fa-solid fa-right-from-bracket"></i>&nbsp;Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-9">
                <div class="card">
                    <div class="card-body">
                        <div class="widget-header">
                            <div class="text-center">
                                <h1>Confirm Item Deletion</h1>
                                <p>Item Name: @Model.itemName</p>
                                <form action="delete-item" method="post">
                                    <input type="hidden" asp-for="itemId" />
                                    <button type="submit" class="btn">Delete</button>
                                </form>
                            </div>
                        </div>
                        <hr />

                        @* <div class="text-center">
                        <a href="reset-password.html" class="btn">Reset Password</a>
                        </div>*@
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
<!-- /Account Section -->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}