@{
    ViewData["Title"] = "Seller";
}

@model assignment01_gbcbids.Data.Item

@using Microsoft.AspNetCore.Identity
@using assignment01_gbcbids.Data;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!-- Background Image -->
<div class="background-img">
    <img src="~/assets/img/welcome.jpg" alt="" />
    <div class="overlay"></div>
    <div class="background-content">
        <h1>Welcome @User.Identity?.Name</h1>
        <p>...your home for awesome bids!!!</p>
    </div>
</div>
<!-- /Background Image -->
<!-- Breadcrumb -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Seller</li>
    </ol>
</nav>
<!-- Breadcrumb -->
<!-- Account Section -->
<section class="account-section">
    <div class="container">
        <div class="alert welcome-alert" role="alert">
            Welcome to your page, @User.Identity?.Name!
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="avatar-box text-center">
                            <a href="" class="avatar">
                                <img src="~/assets/img/7309670.jpg" alt="" />
                            </a>
                            <p>@User.Identity?.Name <br /><span>email@email.com</span></p>
                        </div>
                        <hr />
                        <ul class="account-links">
                            <li><a href="/"><i class="fa-solid fa-dashboard"></i>&nbsp;Dashboard</a></li>
                            <li><a href="/seller/add-item"><i class="fa-solid fa-cart-plus"></i>&nbsp;Add Item</a></li>
                            @*<li><a href="edit-item"><i class="fa-solid fa-pen-to-square"></i>&nbsp;Edit Item</a></li>*@
                            <li><a href="/seller/view-items"><i class="fa-solid fa-cart-arrow-down"></i>&nbsp;View Items</a></li>
                            @*                            <li><a href="seller/edit-profile"><i class="fa-solid fa-address-card"></i>&nbsp;Edit Profile</a></li>
                            *@
                            <li><a href="/account/logout"><i class="fa-solid fa-right-from-bracket"></i>&nbsp;Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-9">
                <div class="card">
                    <div class="card-body">
                        <form asp-action="edit-item" class="form" method="post" enctype="multipart/form-data">
                            <p>Please fill in the form below to edit item!</p>
                            <hr />

                            <label asp-for="itemName" for="product-name">Item Name&ast;</label>
                            <input asp-for="itemName" type="text" class="form-control" />

                            <label asp-for="itemDesc">Item Description&ast;</label>
                            <input asp-for="itemDesc" type="text" class="form-control">

                            <label asp-for="itemCost" for="minimum-cost">Minimum cost&ast;</label>
                            <input asp-for="itemCost" type="text" class="form-control">

                            <div class="row">
                                <div class="col">
                                    <label asp-for="startDate">Start Date&ast;</label>
                                    <input asp-for="startDate" type="date" class="form-control">
                                </div>

                                <div class="col">
                                    <label asp-for="endDate">Expiry Date&ast;</label>
                                    <input asp-for="endDate" type="date" class="form-control">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <label asp-for="itemCondition" class="mt-3">Item condition&ast;</label>
                                    <select asp-for="itemCondition" class="form-control custom-select">
                                        <option selected>Open this select menu</option>
                                        <option value="New">New</option>
                                        <option value="Refurbished">Refurbished</option>
                                        <option value="Open Box">Open Box</option>
                                        <option value="Fairly Used">Fairly Used</option>
                                    </select>
                                </div>

                                <div class="col">
                                    <label asp-for="categoryName" class="mt-3">Category&ast;</label>
                                    <select asp-for="categoryName" class="form-control custom-select">
                                        <option selected>Open this select menu</option>
                                        <option value="Artifacts">Artifacts</option>
                                        <option value="Artillery">Artillery</option>
                                        <option value="Books">Books</option>
                                        <option value="Cars">Cars</option>
                                        <option value="Furniture">Furniture</option>
                                        <option value="Jewelries">Jewelries</option>
                                    </select>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label asp-for="formFile" class="form-label">Item Image&ast;</label>
                                <input asp-for="formFile" class="form-control custom-file" type="file" id="formFile">
                            </div>

                            <input type="hidden" asp-for="itemId" />
                            <input asp-for="SellerEmail" type="hidden" value="@User.Identity?.Name" />

                            <div class="text-center">
                                <input type="submit" class="btn" value="EDIT ITEM" />
                            </div>
                            
                        </form>

                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
<!-- /Account Section -->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}