@{
    ViewData["Title"] = "About Us";
}


<!-- Background Image -->
<div class="background-img">
    <img src="assets/img/about-bg.jpg" alt="" />
    <div class="overlay"></div>
    <div class="background-content">
        <h1>Who We Are!</h1>
        <p>...your home for awesome bids!!!</p>
    </div>
</div>
<!-- /Background Image -->
<!-- Breadcrumb -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">About us</li>
    </ol>
</nav>
<!-- Breadcrumb -->
<!-- About Section -->
<section class="about-section">
    <div class="container">
        <div class="section-header">
            <h2>Who We Are</h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img src="assets/img/about-01.jpg" alt="" class="img" />
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body text-justify">
                        <p>
                            GBC bids is an auction site, built to make trade and negotiation easy. Originally built to improve and make trading easy.
                            We plan on achieving that by making sure that every the site is user friendly and is easy to navigate.
                        </p>

                        <p>
                            Our priority is to make sure both parties are happy after every closed deals and ensure quality service to both users on the platform.
                            We wnat to make sure that we build a community of people who are able to trade easily and are happy after every step.
                        </p>

                        <p>
                            Our site has no age restrictions. However, we wouldn't advise that user younger than the age of 18 are on this sit.
                            we wouldn't want them to get involved in some bids, as it might require some sort of experience in the art of negotiation.
                        </p>

                        <p>
                            GBC bids; "we are here to make sure that every journey you take on this platform is memorable!"
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section -->


<!-- Services -->
    <section class="services-section">
        <div class="container">
            <div class="section-header">
                <h2>Our Services</h2>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <h3><i class="fa-solid fa-gavel"></i> Auctioning</h3>
                            <p>
                                We offer auctioning services. We provie a safe and user friendly paltform, 
                                in order to enable every user bid and win easily!
                                We make sure that sellers are able to auction their products easily, and 
                                provide buyers with the best deal not letting them miss beat.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <h3><i class="fa-solid fa-dollar"></i> Affordable sales</h3>
                            <p>
                                Here at GBC bids, we make sure you are provided with affordable products
                                we provide you quality for a very affordable price. 
                                We are here to make sure that you smile after every aquisition, our prioriy 
                                lies on your happiness!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <h3><i class="fa-solid fa-handshake"></i> Easy Negotiations</h3>
                            <p>
                                We offer smooth negotiations between both parties, by providing timely update on every bid.
                                we guide you every step of the way.
                                We make sure you don't miss out on the best deals and make sure that your bid transacts smoothly!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
  <!-- /Services -->
